# Python temp
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/

# tests
code_view/node_modules/
code_view/esbuild
code_view/assets/bundle_editor.js
node_modules/

# IDE
.vscode/
.idea/

# Virtual environment
.venv/
.env/

# Rust and Tauri
target/
gen/

# Windows
Thumbs.db

# Cache
**.db
crates/wiki_css/test/parallel_test.css

# MacOS
.DS_Store

# Agents' local files
.aider*
.claude/settings.local.json

# Vite
.vite-dev.err.log
.vite-dev.log

# AI
.claude/
AGENTS.md
CLAUDE.md
skills-lock.json

# DO NOT IGNORE: Assets
!src/assets/icons/
