# Normalize line endings
* text=auto

# Main languages
*.rs   linguist-language=Rust
*.vue  linguist-language=Vue
*.ts   linguist-language=TypeScript
*.css  linguist-language=CSS
*.scss linguist-language=SCSS
*.sass linguist-language=SCSS
*.html linguist-language=HTML
Dockerfile linguist-language=Dockerfile

# Ignore generated/minified files
dist/** linguist-generated=true
*.min.js linguist-generated=true

# Ignore test files
crates/ltmf/test/**/*.json linguist-generated=true

# Ignore embedded/legacy codeview assets
public/code_view/** linguist-generated=true

# Ignore plain JS files for stats
# Because `public/code_view/` already in another repo
*.js linguist-generated=true

# Ignore test output files
output.html linguist-generated=true

# Ignore dependencies
node_modules/** linguist-vendored
target/** linguist-vendored
