# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/

# Antigravity
.agy/

# IDE
.vscode/
.idea/

# FTML
engine/rust_engine/ftml/
ftml

# Virtual environment
.venv/
.env/
.venv/

# Rust
target/
Cargo.lock

# git
.git/

# Windows
Thumbs.db
# MacOS
.DS_Store