# Python temp
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/

# tests
code_view/node_modules/
code_view/esbuild
code_view/assets/bundle_editor.js
node_modules/

# IDE
.vscode/
.idea/

# Virtual environment
.venv/
.env/

# Rust and Tauri
target/
gen/
icon.png

# Windows
Thumbs.db

# Cache
**.db
origin.ftml
output.ftml
final_output.ftml
patch_origin.ftml
user_css.css

# MacOS
.DS_Store

# aiderchat
.aider*

# Vite
.vite-dev.err.log
.vite-dev.log

personal_usage_assets/

# DO NOT IGNORE: Assets
!src/assets/icons/
