/* Align buttons use basic buttons' styles */
.format-basic-button.align-left {
    left: 132px;
}

.format-basic-button.align-right {
    left: 135px;
}

.format-basic-button.align-center {
    left: 140px;
}
