/* Align buttons use basic buttons' styles */
.format-basic-button.align-left {
    left: calc(var(--basic-btn-left) + 400px);
}

.format-basic-button.align-right {
    left: calc(var(--basic-btn-left) + 440px);
}

.format-basic-button.align-center {
    left: calc(var(--basic-btn-left) + 480px);
}
