.format-insertion-button {
    position: absolute;
    left: var(--insertion-btn-left);
    top: var(--insertion-btn-height);
    background: transparent;
    border: none;
    z-index: 10;
    width: 60px;
    height: 72px;
}

.format-insertion-button img {
    max-width: 24px;
    max-height: 50px;
}

.format-insertion-button:hover {
    background: #e7edf7;
    border: #b8c7e0 solid 1px;
}

.format-insertion-button:active {
    background: #dbe8ff;
    border-color: #8aaee8;
}

.format-insertion-button.image-button { }

.format-insertion-button.image-block-button {
    left: calc(var(--insertion-btn-left) + 60px);
}

.format-insertion-button.css-button {
    left: calc(var(--insertion-btn-left) + 140px);
}

.format-insertion-button.div-button {
    left: calc(var(--insertion-btn-left) + 200px);
}
