/* List use .format button style */
.format-basic-button.list-ol {
    left: 190px;
    top: calc(var(--basic-btn-height) - 40px);
}

.format-basic-button.list-ul {
    left: 195px;
    top: calc(var(--basic-btn-height) - 40px);
}
