/* List use .format button style */
.format-basic-button.list-ol {
    left: calc(var(--basic-btn-left) + 400px);
    top: calc(var(--basic-btn-height) - 40px);
}

.format-basic-button.list-ul {
    left: calc(var(--basic-btn-left) + 440px);
    top: calc(var(--basic-btn-height) - 40px);
}
