[[module CSS]]
@import url('https://hormress.github.io/Parallel/normalize-min.css');
@import url('https://hormress.github.io/Parallel/parallel-min.css');

/* {$bedrock}/
@import url("https://scp-wiki-cn.wikidot.com/fragment:parallel/code/2");
/{$bedrock} */

/* {$redstone}/
@import url("https://scp-wiki-cn.wikidot.com/fragment:parallel/code/3");
/{$redstone} */

/* {$deepslate}/
@import url("https://scp-wiki-cn.wikidot.com/fragment:parallel/code/4");
/{$deepslate} */

/* {$deep-diamond}/
@import url("https://scp-wiki-cn.wikidot.com/fragment:parallel/code/5");
/{$deep-diamond} */

/* {$deep-gold}/
@import url("https://scp-wiki-cn.wikidot.com/fragment:parallel/code/6");
/{$deep-gold} */

p:has(iframe) {margin: 0;}
[[/module]]
[[module CSS]]
body {
    transition: background-color 0.125s;
}

:where(#page-content) tt {
    padding: 0 0.25em;
    border-radius: 0.25em;
    background-color: rgb(var(--basalt-secondary-color));
}

div.Parallel-ACS tt {
    background-color: transparent;
}

div.hover {
    opacity: 0;
    background-color: rgb(254, 254, 254);
    transition: ease 0.25s;
    border-radius: 1rem;
}

div.hover:hover {
    opacity: 1;
}

div#page-content > h1 {
    margin-top: 4rem;
}

div.theme-title {
    text-align: center;
    font-weight: 700;
    font-family: var(--mono-font);
    font-size: 1.2em;
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    background-color: transparent;
}

div.presets .yui-navset.yui-navset-top > div.yui-content {
    border: none;
    padding: 0.5rem 0;
}

div.presets .yui-navset.yui-navset-top > div.yui-content div.code {
    margin: 0;
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li a {
    flex-direction: column;
    padding: 0.5rem;
    background-color: rgb(var(--basalt-secondary-color));
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li a em {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    color: rgb(var(--block-color));
    background-color: rgb(var(--block-bg));
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li a::before {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: var(--logo), repeating-linear-gradient(var(--diagonal-stripes-angle), rgba(var(--diagonal-stripes-color), var(--diagonal-stripes-opacity)), rgba(var(--diagonal-stripes-color), var(--diagonal-stripes-opacity)) var(--diagonal-stripes-width), transparent var(--diagonal-stripes-width), transparent var(--diagonal-stripes-gap)), linear-gradient(var(--header-gradient-rotation), rgba(var(--header-color-one), 0.75) 0%, rgb(var(--header-color-two)) 100%);
    background-size: 80% auto, 100%, 100%;
    background-position: center;
    background-repeat: no-repeat;
    --diagonal-stripes-color: var(--block-bg);
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li:nth-child(1) {
    --block-color: 20, 20, 20;
    --block-bg: 254, 254, 254;
    --block-border: 239, 239, 240;

    --header-color-one: 144, 20, 20;
    --header-color-two: 72, 20, 20;
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li:nth-child(2) {
    --block-color: 20, 20, 20;
    --block-bg: 254, 254, 254;
    --block-border: 247, 248, 250;

    --header-color-one: 18, 20, 150;
    --header-color-two: 8, 10, 60;
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li:nth-child(3) {
    --block-color: 254, 254, 254;
    --block-bg: 20, 20, 20;
    --block-border: 32, 29, 28;

    --header-color-one: 144, 20, 20;
    --header-color-two: 202, 50, 50;
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li:nth-child(4),
div.presets .yui-navset.yui-navset-top > ul.yui-nav > li:nth-child(5),
div.presets .yui-navset.yui-navset-top > ul.yui-nav > li:nth-child(6) {
    --block-color: 254, 254, 254;
    --block-bg: 46, 46, 52;
    --block-border: 62, 58, 64;
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li:nth-child(4) {
    --header-color-one: 112, 112, 118;
    --header-color-two: 161, 160, 164;
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li:nth-child(5) {
    --header-color-one: 32, 64, 128;
    --header-color-two: 64, 128, 254;
}

div.presets .yui-navset.yui-navset-top > ul.yui-nav > li:nth-child(6) {
    --header-color-two: 244, 188, 102;
    --header-color-one: 254, 218, 124;
}

:root:has(div.presets ul.yui-nav > li.selected:nth-child(2)) {
    --basalt-primary-color: 254, 254, 254;
    --basalt-secondary-color: 247, 248, 250;
    --basalt-tertiary-color: 218, 219, 222;
    --basalt-main-text-color: 20, 20, 20;
    --basalt-overtone: 50, 50, 50;
    --basalt-undertone: 61, 71, 202;

    --basalt-bright-element-color: 16, 76, 184;
    --basalt-dark-element-color: 18, 20, 150;
    --basalt-darker-element-color: 8, 10, 60;
    --basalt-alternate-color: 255, 132, 0;
    --basalt-positive-color: 24, 163, 20;
    --basalt-negative-color: 255, 48, 48;
    --basalt-sub-text-color: 155, 154, 162;
}

:root:has(div.presets ul.yui-nav > li.selected:nth-child(3)) {
    --basalt-primary-color: 20, 20, 20;
    --basalt-secondary-color: 32, 29, 28;
    --basalt-tertiary-color: 40, 39, 38;
    --basalt-main-text-color: 254, 254, 254;
    --basalt-overtone: 254, 254, 254;
    --basalt-undertone: 202, 20, 20;

    --basalt-bright-element-color: 255, 20, 20;
    --basalt-dark-element-color: 144, 20, 20;
    --basalt-darker-element-color: 202, 50, 50;
    --basalt-alternate-color: 132, 132, 20;
    --basalt-positive-color: 24, 163, 20;
    --basalt-negative-color: 255, 48, 48;
    --basalt-sub-text-color: 162, 154, 155;

    --header-title-color: var(--main-text-color);
    --header-subtitle-color: var(--main-text-color);

    --top-bar-link-color: var(--basalt-overtone);

    --UI-title-color: var(--basalt-darker-element-color);
    --UI-title-background-color: var(--basalt-secondary-color);
}

:root:has(div.presets ul.yui-nav > li.selected:nth-child(4)) {
    --basalt-primary-color: 46, 46, 52;
    --basalt-secondary-color: 62, 58, 64;
    --basalt-tertiary-color: 74, 72, 82;
    --basalt-main-text-color: 254, 254, 254;
    --basalt-overtone: 254, 254, 254;
    --basalt-undertone: 144, 144, 152;

    --basalt-bright-element-color: 129, 128, 132;
    --basalt-dark-element-color: 112, 112, 118;
    --basalt-darker-element-color: 161, 160, 164;
    --basalt-alternate-color: 132, 132, 20;
    --basalt-positive-color: 24, 163, 20;
    --basalt-negative-color: 255, 48, 48;
    --basalt-sub-text-color: 162, 154, 155;

    --link-color: 220, 220, 224;
    --link-visited-color: 195, 195, 199;

    --header-title-color: var(--main-text-color);
    --header-subtitle-color: var(--main-text-color);

    --top-bar-link-color: var(--basalt-overtone);

    --UI-title-color: var(--basalt-darker-element-color);
    --UI-title-background-color: var(--basalt-secondary-color);
}

:root:has(div.presets ul.yui-nav > li.selected:nth-child(5)) {
    --basalt-primary-color: 46, 46, 52;
    --basalt-secondary-color: 62, 58, 64;
    --basalt-tertiary-color: 74, 72, 82;
    --basalt-main-text-color: 254, 254, 254;
    --basalt-overtone: 254, 254, 254;
    --basalt-undertone: 144, 204, 254;

    --basalt-bright-element-color: 142, 192, 232;
    --basalt-dark-element-color: 128, 178, 222;
    --basalt-darker-element-color: 138, 188, 234;
    --basalt-alternate-color: 132, 132, 20;
    --basalt-positive-color: 24, 163, 20;
    --basalt-negative-color: 255, 48, 48;
    --basalt-sub-text-color: 162, 154, 155;

    --header-title-color: var(--main-text-color);
    --header-subtitle-color: var(--main-text-color);
    --header-color-one: 32, 64, 128;
    --header-color-two: 64, 128, 254;

    --top-bar-link-color: var(--basalt-overtone);

    --UI-title-color: var(--basalt-darker-element-color);
    --UI-title-background-color: var(--basalt-secondary-color);
}

:root:has(div.presets ul.yui-nav > li.selected:nth-child(6)) {
    --basalt-primary-color: 46, 46, 52;
    --basalt-secondary-color: 62, 58, 64;
    --basalt-tertiary-color: 74, 72, 82;
    --basalt-main-text-color: 254, 254, 254;
    --basalt-overtone: 254, 254, 254;
    --basalt-undertone: 254, 234, 152;

    --basalt-bright-element-color: 232, 152, 80;
    --basalt-dark-element-color: 244, 188, 102;
    --basalt-darker-element-color: 254, 218, 124;
    --basalt-alternate-color: 132, 132, 20;
    --basalt-positive-color: 24, 163, 20;
    --basalt-negative-color: 255, 48, 48;
    --basalt-sub-text-color: 162, 154, 155;

    --header-title-color: var(--main-text-color);
    --header-subtitle-color: var(--main-text-color);
    --header-color-one: var(--basalt-darker-element-color);
    --header-color-two: var(--basalt-dark-element-color);

    --UI-title-color: var(--basalt-darker-element-color);
    --UI-title-background-color: var(--basalt-secondary-color);
}

.table[class*="w-"] :is(table, table.wiki-content-table) {
    width: 100%;
}

.table[class*="w-"] {
    margin-inline: auto;
    width: calc(var(--main-content-width) * var(--_relative-width));
}

@media (max-width: 580px) {
    div.presets .yui-navset.yui-navset-top > ul.yui-nav {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
[[/module]]
[[module CSS]]
.earthworm {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 1em 0;
    clear: both;
    z-index: 0;
    min-height: 36px;
}
.earthworm > div {
    display: flex;
    align-items: center;
}
.earthworm p {
    margin: 0 0.8em;
    text-align: center;
    position: relative;
    z-index: 5;
}
.earthworm .first {
    border-top: 2px rgba(150,150,150,0.5) solid;
    border-bottom: 2px rgba(150,150,150,0.5) solid;
    position: relative;
}
.earthworm .first:not(.true) img {
    height: 100%;
    width: auto;
    display: block;
    position: absolute;
    left: 0;
    top: -1.5px;
    border: 2.8px rgba(150,150,150,0.5) solid;
    transform: scale(0.707) rotate(-45deg);
    border-width: 2.8px 0 0 2.8px;
    transform-origin: 0% 100%;
}
.earthworm .hub {
    margin: -3px 0;
    border: 3px rgba(150,150,150,0.5) solid;
    background: linear-gradient(10deg, rgba(150,150,150,0.1), rgba(150,150,150,0));
    position: relative;
    z-index: 5;
}
.earthworm .hub.no a,
.earthworm a[href="/"] {
    color: #333;
    text-decoration: none;
    cursor: text;
    pointer-events: none;
}
.earthworm .last {
    border-top: 2px rgba(150,150,150,0.5) solid;
    border-bottom: 2px rgba(150,150,150,0.5) solid;
    position: relative;
}
.earthworm .last:not(.true) img {
    height: 100%;
    width: auto;
    display: block;
    position: absolute;
    right: 0;
    top: -1.5px;
    border: 2.8px rgba(150,150,150,0.5) solid;
    transform: scale(0.707) rotate(45deg);
    border-width: 2.8px 2.8px 0 0;
    transform-origin: 100% 100%;
}
.earthworm div.true {
    width: 0;
}
.earthworm div.true p {
    display: none;
}
.earthworm a {
    word-break: normal;
}
[[/module]]