/* This file contains basic postion of editor setups */
/* To locate the postion and prevent user themes crash the editor themes, ALL objects in this file except `//debug` are IMMUTABLE */

.editor-canvas.editor-theme-default
    #container-wrap
        position: absolute
        inset: 0
        width: 100%
        height: 100%
        top: 0
        pointer-events: none

        display: flex
        flex-direction: column

        #header
            height: 180px
            width: 100%
            background: none
            border: var(--wiki-header-place-holder-color) solid 3px //debug

        #top-bar
            height: 30px
            width: 100%
            background: none
            border: var(--wiki-header-place-holder-color) solid 3px //debug

        // content area (side + main)
        #content-wrap
            display: flex
            flex: 1
            width: 100%

            #side-bar
                width: 21%
                height: 100%
                background: none
                border: var(--wiki-header-place-holder-color) solid 3px //debug

            .meta-title
                width: 100%
                height: 20px
                background: none
                border: var(--wiki-header-place-holder-color) solid 3px //debug

            .rate
                width: 80px
                height: 20px
                background: var(--wikidot-red)
                color: white
                position: absolute
                top: 250px
                left: 500px
                z-index: 9999 // high z-index to make sure it's on top of everything
