.actions-button {
    width: 28px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid transparent;
    background: transparent;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.actions-button:hover {
    background: var(--color-word-blue-dark);
    border-color: var(--color-word-blue-light);
}

.actions-button.redo {
    position: absolute;
    left: 280px;
    top: 15px;
    color: #dbe8ff;
}

.actions-button.undo {
    position: absolute;
    left: 250px;
    top: 15px;
    color: #dbe8ff;
}
