.actions-button {
    width: 28px;
    height: 28px;
    top: 12px;
    color: #dbe8ff;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid transparent;
    background: transparent;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    /* Positioning of toolbar buttons always absolute */
    position: absolute;
}

.actions-button img {
    max-width: 24px;
    max-height: 24px;
}

.actions-button:hover {
    background: var(--color-word-blue-dark);
    border-color: var(--color-word-blue-light);
}

.actions-button.redo {
    right: var(--actions-btn-right);
}

.actions-button.undo {
    right: calc(var(--actions-btn-right) + 40px);
}

.actions-button.save {
    right: calc(var(--actions-btn-right) + 80px);
}
